<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Rides
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Make</a>
                <a href="" class="dropdown-item ">By Model</a>
                <a href="" class="dropdown-item">All Rides</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Elite Regions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Britsh</a>
                <a href="" class="dropdown-item">Italian</a>
                <a href="" class="dropdown-item">German</a>
                <a href="" class="dropdown-item">All Regions</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="https://www.hrowen.co.uk/aftersales/" class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Servicing
            </a>
            <!-- <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Bed &amp; Bath</a>
                <a href="" class="dropdown-item">Kitchen &amp; Dining</a>
                <a href="" class="dropdown-item">All Homeware</a>
            </div> -->
        </li>

        <li class="nav-item dropdown">
            <a href="https://www.prestigemotorwarehouse.co.uk/contact/" class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
            <!-- <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div> -->
        </li>
    </ul>
</div>