<div id="topnav" class="row d-block d-lg-none">
    <div class="col-sm my-auto py-1 text-center text-lg-left">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
            <h2 class="logo-font text-black my-0 mobile-logo"><strong>Elite</strong> Rides</h2>
        </a>
    </div>
</div>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Rides
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=make&direction=asc" class="dropdown-item">By Make</a>
                <a href="{% url 'products' %}?sort=model&direction=asc" class="dropdown-item">By Model</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Rides</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Elite Regions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=british" class="dropdown-item">British</a>
                <a href="{% url 'products' %}?category=italian" class="dropdown-item">Italian</a>
                <a href="{% url 'products' %}?category=german" class="dropdown-item">German</a>
                <a href="{% url 'products' %}?category=british,italian,german" class="dropdown-item">All Regions</a>
            </div>
        </li>
        <li class="nav-item-servicing">
            <a href="{% url 'servicing' %}" class="logo-font font-weight-bold nav-link text-black mr-5" aria-haspopup="true" aria-expanded="false">
                Servicing
            </a>
        </li>
        <li class="nav-item-contact">
            <a href="{% url 'contact_us' %}" class="logo-font font-weight-bold nav-link text-black" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
            <!-- <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div> -->
        </li>
    </ul>
</div>