{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container w-100 margin-fix">
        <div class="row">
            <div class="col-12 col-md-9">
                <hr>
                <h2 class="logo-font mb-4">Terms and Conditions</h2>
                <hr>
            </div>
        </div>       
        <div class="row">
            <div class="col-12 col-md-9">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            ARTICLE 1 - General provisions
                          </button>
                        </h2>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            These conditions are valid exclusively between the company ELITE RIDES s.r.l. , with registered office in:
                            C/da Stracca, Industrial Area, 64032, Casoli di Atri (TE), Italy VAT number XXXXXX, of hereinafter referred to as '' ELITE RIDES '' and any person who makes purchases online on the website www.ELITE RIDES.com hereinafter referred to as '' CLIENT ''. These conditions can be the subject of changes and the date of publication of the same on the site is equivalent to the date of entry into force.
                            These terms and conditions govern the purchases made on the www.ELITE RIDES.com website, in accordance with provisions of Part III, Title III, Chapter I, of the Consumer Code, Legislative Decree no. n. 206/2005, modified by the Leg. n. 21/2014 and by Legislative Decree. 70/2003 on electronic commerce.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            ARTICLE 2 - Object of the contract
                          </button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            With the present general conditions of sale, ELITE RIDES sells and the CUSTOMER buys i movable tangible goods indicated and offered for sale on www.ELITERIDES.com. The contract ends exclusively through the internet, by accessing the CUSTOMER at the address www.ELITERIDES.com and the realization of a purchase order according to the procedure provided by the site same. The customer agrees to review, before proceeding with the confirmation of their order, the present general conditions of sale.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            ARTICLE 3 - Conclusion and effectiveness of the contract
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            The sales contract is considered concluded with the sending by ELITE RIDES to the CUSTOMER of an email confirming the order. The e-mail contains the order number, the price of the goods purchased, the Shipping fees.
                            The CUSTOMER undertakes to verify the correctness of the data contained in the aforementioned email and to promptly notify ELITE RIDES of any corrections / changes to be made.
                            ELITE RIDES undertakes to describe and present the items sold on the site in the best possible way.
                            Nevertheless, some errors, inaccuracies or small differences between the product may be highlighted depicted on the site and the actual product. In addition, the photographs of the products presented on www.ELITERIDES.com they do not constitute a contractual element, as to be considered only representative.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                ARTICLE 4 - Availability of products
                            </button>
                          </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                          <div class="card-body">
                            The availability of the products refers to the actual availability or goods arriving at the moment in which the CUSTOMER places the order. This availability must however be considered purely indicative because:
                            <br>
                            - the products could be sold to other CUSTOMERS before confirming the order, as a result of simultaneous presence on the site of multiple users,
                            <br>
                            - an IT anomaly could occur such as to make available to the purchase a product that in reality is not.
                            Even after sending the order confirmation e-mail sent by ELITE RIDES, they could occurrence of partial or total unavailability of the goods. In this case, the order will come adjusted automatically with the elimination of the product or products not available and the CUSTOMER will be immediately notified via e-mail; with this e-mail the customer will also be informed of the methods and timing of reimbursement of any sums paid.
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                ARTICLE 5 - Payment Methods
                            </button>
                          </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                          <div class="card-body">
                            Credit card
                            <br><br>
                            We accept the most important credit cards and all payments are processed securely.
                            The communications relating to the payment and all the data communicated by the CUSTOMER are transmitted on special protected lines.
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                ARTICLE 6 - Legal guarantee of conformity
                            </button>
                          </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                          <div class="card-body">
                            In case of receipt of defective products or in any case not in compliance with the orders placed, the CLIENT has right to restoration without charge of product conformity by repair or replacement of the product. The CLIENT can exercise this right if the defect occurs within two years from delivery of the goods and report the defect to ELITE RIDES within two months of discovery.
                            <br>
                            ELITE RIDES, in case of defective or non-compliant product, will arrange, at its own expense, to organize the withdrawal of the product, compatibly with the availability of the CUSTOMER.
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSeven">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                ARTICLE 7 - Delivery methods
                            </button>
                          </h2>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                          <div class="card-body">
                            The package is generally shipped within 1-2 working days of receipt of payment.
                            <br>
                            <br>
                            In the case of orders for items arriving, shipment will be made within 1-2 days of arrival at our warehouse of pre-ordered news.
                            <br>
                            <br>
                            Possible delays in deliveries may occur in the periods preceding the Christmas holidays, Easter holidays and others. Delays may occur in the days following promotion periods or in any case for all force majeure reasons. ELITE RIDES accepts orders from all over the world. The delivery is made, for the Italian territory, generally within 1-4 working days, and in any case within the maximum term of 30 days. How long it concerns the countries of the European Union the delivery will be done in 3-10 working days, and in any case within the maximum term of 30 days. In non-EU territories, delivery takes place within 7-15 days working, and in any case within the maximum term of 30 days. 
                            <br>
                            <br>
                            If it is not possible to make the delivery, the order will be sent to the courier's deposit. In this if necessary, a notice will specify where the order is located and how to agree a new one delivery. Shipping costs are charged to the buyer and are explicitly highlighted at the time of
                            ordering.
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
