{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container w-100">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Privacy Policy</h2>
                <hr>
            </div>
        </div>       
        <div class="row">
            <div class="col-12 col-md-6">
                <h3>Privacy Policy of www.eliterides.com</h3>
                <h4>Types of Data collected</h4>
                <p>Among the types of Personal Data that this Application collects, by itself or through third parties, there are: Cookies; Usage Data; first name; last name; phone number; address; email address; password; fax number; country; state; ZIP/Postal code; city.</p>
                <p>
                    omplete details on each type of Personal Data collected are provided in the dedicated sections of this privacy policy or by specific explanation texts displayed prior to the Data collection.
                    Personal Data may be freely provided by the User, or, in case of Usage Data, collected automatically when using this Application.
                    Unless specified otherwise, all Data requested by this Application is mandatory and failure to provide this Data may make it impossible for this Application to provide its services. In cases where this Application specifically states that some Data is not mandatory, Users are free not to communicate this Data without consequences to the availability or the functioning of the Service.
                </p>
                <p>
                    Users who are uncertain about which Personal Data is mandatory are welcome to contact the Owner.
                    Any use of Cookies or of other tracking tools by this Application or by the owners of third-party services used by this Application serves the purpose of providing the Service required by the User, in addition to any other purposes described in the present document and in the Cookie Policy, if available.
                </p>
                <p>Users are responsible for any third-party Personal Data obtained, published or shared through this Application and confirm that they have the third party's consent to provide the Data to the Owner.</p>
                <br>
                <hr>
                <br>
                <h3>Mode and place of processing the Data</h3>

                <h4>Methods of processing</h4>
                <p>
                    The Owner takes appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.
                    The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Owner, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of this Application (administration, sales, marketing, legal, system administration) or external parties (such as third-party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Owner at any time.
                </p>
                <h4>Legal basis of processing</h4>
                <p>
                    The Data is processed at the Owner's operating offices and in any other places where the parties involved in the processing are located.  
                    Depending on the User's location, data transfers may involve transferring the User's Data to a country other than their own. To find out more about the place of processing of such transferred Data, Users can check the section containing details about the processing of Personal Data.
                    Users are also entitled to learn about the legal basis of Data transfers to a country outside the European Union or to any international organization governed by public international law or set up by two or more countries, such as the UN, and about the security measures taken by the Owner to safeguard their Data.
                    If any such transfer takes place, Users can find out more by checking the relevant sections of this document or inquire with the Owner using the information provided in the contact section.
                </p>
                <br>
                <hr>
                <br>
                <h3>The purposes of processing</h3>
                <p>
                    The Data concerning the User is collected to allow the Owner to provide its Service, comply with its legal obligations, respond to enforcement requests, protect its rights and interests (or those of its Users or third parties), detect any malicious or fraudulent activity, as well as the following: Interaction with external social networks and platforms, Analytics, Handling payments, Hosting and backend infrastructure, Infrastructure monitoring and Registration and authentication.
                    For specific information about the Personal Data used for each purpose, the User may refer to the section “Detailed information on the processing of Personal Data”.
                </p>
                <br>
                <hr>
                <br>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Browsing</span>
                </a>
                <a href="{% url 'contact' %}" class="btn btn-black rounded-0">Contact Us</a>
            </div>
        </div>


    </div>
{% endblock %}
