{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container w-100">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">About Us</h2>
                <hr>
            </div>
        </div>       
        <div class="row">
            <div class="col-12 col-md-6">
                <p>
                    ELITE RIDES IS THE UK'S BEST CHOICE OF HIGH-END, LUXURY DIECAST MODEL CARS.
                </p>
                <p>
                    WE HOPE YOU WILL FIND THAT SPECIAL RIDE YOU HAVE BEEN LOOKING FOR, BE IT A CAR YOU USED TO OWN, OR, A CAR YOU WOULD LIKE TO OWN, 
                    OR A CAR THAT YOU HAVE ADMIRED IN FILMS OR TELEVISION.
                </p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Browsing</span>
                </a>
                <a href="{% url 'contact' %}" class="btn btn-black rounded-0">Contact Us</a>
            </div>
        </div>


    </div>
{% endblock %}

{% block page_footer %}
    <footer class="container-wrapper">
        <div class="container quotes-container content-container">
        <section class="footer">
            <div class="row">
            <div class="col-12 page-header mb-4">
                <h2 class="text-uppercase">Stay in touch:</h2>
                <hr class="block-divider block-divider--short">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
            <h3>Social</h3>
            <p>Keep up to date with all our latest offers</p>
            <a href="#" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
            </div>
            <div class="col-12 col-md-6">
            <h2>Subscribe!</h2>
            <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
            <!-- Mailchimp signup form here -->
            </div>
        </div>
        </section>
    </div>
    </footer>
{% endblock %}
